## SPDX-License-Identifier: GPL-2.0-only

if VENDOR_HEWLETT_PACKARD

choice
	prompt "Mainboard model"

source "src/mainboard/hewlett_packard/*/Kconfig.name"

endchoice

source "src/mainboard/hewlett_packard/*/Kconfig"

config MAINBOARD_VENDOR
	string
	default "Hewlett-Packard"

endif # VENDOR_HEWLETT_PACKARD
